<p class="example-title">Buchung ändern</p>

<div class="vertical-space"></div>
<div flash-message="3000"></div>
<form id="edit_booking" name="form" class="ink-form slab-500" ng-controller="EditBookingCtrl" novalidate>
  <div id="new_booking_columns" class="column-group gutters">
    <div class="control-group required all-100">
      <label for="edit_booking_amount">Betrag (€)</label>

      <div class="control">
        <input type="text" name="amount" id="edit_booking_amount"
               class="ink-fv-custom positiveIntegerOrDecimal" ng-disabled="disable_controls_edit_booking" required
               ng-pattern="/^-?[0-9]+(\,[0-9]{1,2})?$/"
               ng-model="edit_booking.amount">
      </div>
      <div class="slab-300" style="color:green" ng-show="form.amount.$dirty && form.amount.$error.pattern">
        Betrag mit oder ohne Komma (z.B. -50 oder 10,25) eingeben.
      </div>
    </div>
    <div class="control-group required all-100">
      <label for="edit_booking_datum">Datum</label>

      <div class="control">
        <input type="date" id="edit_booking_datum" placeholder="" min="2014-01-01" max="2016-12-31"
               ng-disabled="disable_controls_edit_booking" required
               ng-model="edit_booking.date">
      </div>
    </div>
    <div class="control-group required all-100">
      <label for="edit_booking_category">Kategorie</label>

      <div class="control">
        <select name="category" id="edit_booking_category" ng-disabled="disable_controls_edit_booking" required
                ng-model="edit_booking.category_name"
                ng-options="category.name for category in categories track by category.name"
                ng-change="onChangeCategory()">
        </select>
      </div>
    </div>
    <div class="control-group all-100">
      <label id='label_edit_booking_remark' for="edit_booking_remark">Anmerkung</label>

      <div class="control">
                <textarea rows="2" cols="20" name="remark" id="edit_booking_remark"
                          ng-disabled="disable_controls_edit_booking"
                          ng-model="edit_booking.remark"></textarea>
      </div>
    </div>
    <div class="control-group all-100">
      <div class="control">
        <button id="save_booking" class="ink-button grey uppercase"
                ng-disabled="form.$error.pattern || form.$error.required || disable_controls_edit_booking"
                ng-click="onUpdateBooking()">speichern
        </button>
        <button id="delete_booking"
                class="ink-button red uppercase large-push-right xlarge-push-right"
                ng-disabled="form.$error.pattern || form.$error.required || disable_controls_edit_booking"
                ng-click="onDeleteBooking()">
          endgültig löschen
        </button>
      </div>
    </div>
  </div>
</form>
