<p class="example-title">Ausgaben</p>

<div class="vertical-space"></div>

<table id="booking_list" class="ink-table hover slab-300">
  <thead class="slab-700">
  <tr>
    <th class="align-left">Datum</th>
    <th class="align-left">Anmerkung</th>
    <th class="align-left">Kategorie</th>
    <th class="align-left">Betrag (€)</th>
    <th class="align-center"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>23.02.2015</td>
    <td>Eine Testbuchung</td>
    <td>Test</td>
    <td>5000</td>
    <td class="align-right">
      <button class="ink-button grey"><a href="">Ändern</a></button>
    </td>
  </tr>
  </tbody>
</table>
