<p class="example-title">Neue Buchung</p>

<div class="vertical-space"></div>
<div flash-message="3000"></div>
<form name="form" id="new_booking" class="ink-form slab-500" ng-controller="NewBookingCtrl" novalidate>
  <div id="new_booking_columns" class="column-group gutters">
    <div class="control-group required all-100">
      <label for="new_booking_amount">Betrag (€)</label>

      <div class="control">
        <input type="text" name="amount" id="new_booking_amount"
               class="ink-fv-custom positiveIntegerOrDecimal" ng-disabled="disable_controls_new_booking" required ng-pattern="/^-?[0-9]+(\,[0-9]{1,2})?$/" ng-model="new_booking.amount">
      </div>
      <div class="slab-300" style="color:green" ng-show="form.amount.$dirty && form.amount.$error.pattern">
        Betrag mit oder ohne Komma (z.B. -50 oder 10,25) eingeben.
      </div>

    </div>
    <div class="control-group required all-100">
      <label for="new_booking_datum">Datum</label>

      <div class="control">
        <input type="date" id="new_booking_datum" placeholder="yyyy-MM-dd" min="2014-01-01" max="2016-12-31" ng-disabled="disable_controls_new_booking" required ng-model="new_booking.date"/>
      </div>
    </div>
    <div class="control-group required all-100">
      <label for="new_booking_category">Kategorie</label>

      <div class="control">
        <select name="category" id="new_booking_category" ng-disabled="disable_controls_new_booking" required ng-model="new_booking.category"
                ng-options="category.name for category in categories" ng-change="onChangeCategory()">
          <option value="">--- Kategorie auswählen ---</option>
        </select>
      </div>
      <p class="tip"><a ng-click="toNewCategory()">neue Kategorie</a>
                <span style="padding-left:2em;"><change-category ng-bind-html="categorySelected"
                                                                 ng-click="categoryEnabled ? setCurrentCategory(): ''"></change-category></span>
      </p>
    </div>
    <div class="control-group all-100">
      <label for="new_booking_remark">Anmerkung</label>

      <div class="control">
        <textarea rows="2" cols="20" name="remark" id="new_booking_remark" ng-disabled="disable_controls_new_booking" ng-model="new_booking.remark"></textarea>
      </div>
    </div>
    <div class="control-group all-100">
      <div class="control">
        <button id="submit_booking"
                class="ink-button grey uppercase" ng-disabled="form.$pristine || form.$error.pattern || form.$error.required || disable_controls_new_booking" ng-click="onCreateBooking()">buchen
        </button>
      </div>
    </div>
  </div>
</form>
